{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<body>
<h1>Ku-Polls</h1>

{% if user.is_authenticated %}
    Welcome back,  {{user.username}}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log Out</button>
</form>
{% else %}
    Please <a href="{% url 'login' %}?next={{request.path}}">Login</a>
{% endif %}


{% if messages %}
<div class="messages">
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}
</div>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}" style="text-decoration:none;">{{ question.question_text }}</a></li>
        <a href="{% url 'polls:results' question.id %}" style="text-decoration:none;"> <button style="background-color: #d096e3; color: white; border-radius: 15px;border-color: #aa5cc4">Voting results</button></a>

        {% if question.can_vote %}
            <p style="color: #ee59bc; font: M PLUS Rounded 1c">Status: Open</p>

        {% else %}
            <p style="color: red; font: M PLUS Rounded 1c">Status: Closed</p>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>