h1 {
    color: #da62be;
    font-weight: bold;
    font-size: 60px;
    font-family: "M PLUS Rounded 1c", sans-serif;


}
li a {
    color: purple ;
    font-size: 45px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 130%

}

.messages {
    color: red ;
    font-size: 23px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

table {
    color: white ;
    font-size: 23px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 160%
}

.choice-text {
    color: #ba62da ;
    font-size: 30px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 160%
}
body {
    background: white url("images/Background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

}