h1 {
    color: #da62be;
    font-weight: bold;
    font-size: 80px;
    font-family: "M PLUS Rounded 1c", sans-serif;


}
li a {
    color: purple ;
    font-size: 45px;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 130%

}

body {
    background: white url("images/Background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

}