h1 {
    color: #da62be;
    font-weight: bold;
    font-size: 60px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-indent: 30px;


}
li a {
    color: purple ;
    font-size: 45px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 130%;

}

.messages {
    color: red ;
    font-size: 23px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

table {
    color: white ;
    font-size: 23px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 160%
    margin-left: auto;
    margin-right: auto;

}

.choice-text {
    color: #ba62da ;
    font-size: 30px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    line-height: 160%
}
body {
    background: white url("images/Background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "M PLUS Rounded 1c", sans-serif;

}

.poll_questions ul{
    list-style-type: none;


}

.container{
    border: 2px solid #d096e3;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.04);
}

.navigation{
    text-indent: 30px;
    line-height: 160%
}
